html {background-color: rgb(10,10,10);}

.chart1 {
    width: 100vw;
    max-height: 95vh;
    max-width: 95vw;
}


.flexbox {
    display: flex;
    justify-content: center;
}
.flexitem {
    width: calc(50% - 10px); /* 10px is the margin between the two pie charts */
    margin: 5px;
}

summary {
    font-family: Montserrat;
    color: white;
    text-align: center;
    font-size: 2em;
    outline-style: solid;
    outline-width: 1px;
}

#raw_data {
    margin-left:  1%;
    margin-right: 1%;
    padding: 1%;
    color: white;
    background-color: rgb(20, 20, 20);
    font-family: Consolas;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: left;
}


/* If its a mobile, then the pie charts are stacked on top of each other, and the font size of "Raw Data" is made a bit smaller */
@media only screen and (max-width: 768px) {
    .flexbox    {flex-direction: column;}
    .flexitem   {width: 100%;}
    summary     {font-size: 1.3em;}
}